<div class="span-11 last" id="background"> 
<%= form_for (@opening)  do |f| %>
  <div class="field">
    <%= f.label :company, "Company applied for." %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :position, "Position applied for." %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :objective, "Objective" %><br />
    <%= f.text_field :objective %>
  </div>
    <div class="field">
    <%= f.label :name, "Unique name for slug" %><br />
    <%= f.text_field :name %>
  </div>
 <div class="field">
    <%= f.label :grizzard, "Relevant Grizzard experience" %><br />
    <%= f.text_area :grizzard %>
  </div>
 <div class="field">
    <%= f.label :skills, "Relevant skills to highlight" %><br />
    <%= f.text_area :skills %>
  </div>
 <div class="actions">
    <%= f.submit "Check in" %>
  </div>
<% end %>
</div>